Checks: 'clang-analyzer-*,cppcoreguidelines-*,performance-*,readability-*,bugprone-*,hicpp-*,-hicpp-use-override,-cppcoreguidelines-explicit-virtual-functions,-hicpp-special-member-functions,-cppcoreguidelines-special-member-functions'
HeaderFilterRegex: '.*'
